npm-debug.log
.env
.DS_Store

image_output/*
lev/*
rec/*

!rec/min.rec

!image_output/29be420_z1_transparent.gif
!image_output/0lp31.gif

node_modules/*
!node_modules/canvas/
node_modules/canvas/*
!node_modules/canvas/build/
node_modules/canvas/build/*
!node_modules/canvas/build/Release/
node_modules/canvas/build/Release/*
!node_modules/canvas/build/Release/canvas.node

util/recplay